nav.metal-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 20px;
    padding: 0px 10px;
    border: 1px solid;
    border-radius: 8px;
    background-color: white;
    border: none;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 2px solid #c0bbbb;
}

.metal-nav>div:first-child {
    display: flex;
    align-items: center;
}

.metal-nav>div:last-child {
    display: flex;
    align-items: center;
}

.metal-nav a {
    text-decoration: none;
    margin: 20px;
    color: black;
    font-weight: 500;
}

.metal-nav p {
    color: grey;
}

.metal-nav span {
    padding: 3px 8px;
    border-radius: 5px;

}

.metal-nav span:hover {
    background-color: #ebe7e7;
}

.metal-nav .alloy-title {
    font-weight: 900;
    color: #000;
    font-size: 1.5rem;
    margin-left: 10px;
}

.metal-nav .product-menu-list ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.metal-nav .product-menu-list {
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 8px;
    background-color: #faf8f8;
    margin: 0 auto;
    top: 75px;
    left: 0;
    right: 0;
}

.metal-nav .product-menu-list p {
    margin-top: 0;
    font-weight: normal;
}

.metal-nav .product-menu-items {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

.metal-nav .product-menu-items>div:last-child {
    font-weight: bold;
    font-size: 1.1rem;
}

.metal-nav .product-menu-items img {
    background-color: #dcdcdc;
    padding: 5px 8px;
    border-radius: 5px;
}

.metal-nav .product-menu-li {
    display: flex;
    gap: 50px;
}

.metal-nav .product-items span {
    display: flex;
    left: 0;
}

.metal-right-nav span {
    border-radius: 5px;
    padding: 3px 8px;
}

.metal-right-nav span:hover {
    background-color: #ebe7e7;
}

.metal-nav button {
    padding: 10px 30px;
    background-color: #4242d8;
    color: white;
    border-radius: 50px;
    border: none;
}

.metal-nav button:hover {
    transition: transform 0.5s;
    background-color: gray;
}