body {
    background-color: #f7f5f5;
    max-width: 1200px;
    margin: 0 auto;
}

nav.alloy-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 20px;
    padding: 0px 10px;
    border: 1px solid;
    border-radius: 8px;
    background-color: white;
    border: none;
    border-bottom: 2px solid #c0bbbb;
}

.alloy-nav>div:first-child {
    display: flex;
    align-items: center;
}

.alloy-nav>div:last-child {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    margin: 20px;
    color: black;
    font-weight: 500;
}

p {
    color: grey;
}

hr {
    color: #d5d3d3;
    border: 1px solid;
    list-style: none;
}

.alloy-nav span {
    padding: 3px 8px;
    border-radius: 5px;

}

.alloy-nav span:hover {
    background-color: #ebe7e7;
}

.alloy-title {
    font-weight: bold;
    color: #000;
    font-size: 1.6rem;
    margin-left: 10px;
    margin-top: px;
}

ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.menu-list {
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 8px;
    background-color: white;
    width: 1160px;
    margin: 0 auto;
    top: 80px;
    left: 0;
}

p {
    margin-top: 0;
    font-weight: normal;
}

.menu-items {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

.menu-items>div:last-child {
    font-weight: bold;
    font-size: 1.1rem;
}

.menu-items img {
    background-color: #dcdcdc;
    padding: 5px 8px;
    border-radius: 5px;
}

.menu-li {
    display: flex;
    gap: 50px;
}

h4 {
    font-weight: bold;
}

.product-items span {
    display: flex;
    left: 0;
}

h4:hover {
    transition: transform 0.5s;
    background-color: #ebe7e7;
    border: 1px solid #ebe7e7;
    border-radius: 5px;
}

.alloy-right-nav span {
    border-radius: 5px;
    padding: 3px 8px;
}

.alloy-right-nav span:hover {
    background-color: #ebe7e7;
}

button {
    padding: 7px 15px;
    background-color: #4242d8;
    color: white;
    border-radius: 5px;
    border: none;
}

button:hover {
    transition: transform 0.5s;
    background-color: gray;
}